root { 
    display: block;
}

body{
    background-color: #000000;
    background-repeat: repeat-x;
    background-position: top;
    background-image: url(../sprites/bg_tile.jpg);    
}

* {
    user-select: none;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
}

::selection { background: transparent;color:inherit; }
::-moz-selection { background: transparent;color:inherit; }

#canvas{
    position: fixed;
}

canvas {
    image-rendering: optimizeSpeed;
    image-rendering:-o-crisp-edges;
    image-rendering:-webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
	-ms-touch-action: none;
}

.ani_hack{
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color: transparent; /* mobile webkit */
}

/***************FONTS*******************/

.check-fonts{
        position: fixed;
        opacity:0;
}

.check-font-1{
        font-family: 'arialbold';
}
                
@font-face {
    font-family: 'arialbold';
    src: url('arialbd-webfont.eot');
    src: url('arialbd-webfont.eot?#iefix') format('embedded-opentype'),
         url('arialbd-webfont.woff2') format('woff2'),
         url('arialbd-webfont.woff') format('woff'),
         url('arialbd-webfont.ttf') format('truetype'),
         url('arialbd-webfont.svg#arialbold') format('svg');
    font-weight: normal;
    font-style: normal;

}